<div>

<form action='/user' method= 'post'>
<label>Username:<input type ="text" name="username"></label>
<label>Password:<input type ="password" name="password"></label>

<input type='submit' value='Sign in'>
</form>

Not already a Chitter member? Sign up here:  
<form action='/sign_up' method= 'post'>
	<input type='submit' value='Sign Up'>
</form>

Enter a Peep: 
<form action='/'>
  <label>New_Peep:<input type="text" name="New_Peep">
  <input type="submit" value="Post Peep">
</form> 

<p></p>
<% if @display_peep %>
  <%= @display_peep %>
<% end %>
</div>