<div>

<form action='/user' method= 'post'>
<label>Username:<input type ="text" name="username"></label>
<label>Password:<input type ="password" name="password"></label>

<input type='submit' value='Sign in'>
</form>

</div>